*{
padding: 0;
margin: 0;

}
.butões{

margin-top: 43px;

}
.enviar{
margin: 2px;
text-align: center;
font-family: 'Kanit', sans-serif;
padding: 5px;
background-color: #26cfa9;
border: solid 3px black;
border-radius: 20px;


}
.recuperar{
    margin-left: 78px;
    display: block;
    font-family: 'Kanit', sans-serif;
padding: 5px;
background-color: #26cfa9;
border: solid 3px black;
border-radius: 20px;

}
body{
    background-color:#82877b;
}

*{
    padding: 0;
    margin: 0;
}
.Form{
    width: 100vw;
    height: 100vh;
    background-color:#82877b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
text-align: center;
width: 360px;
height: 380px;
align-items: center;
background: #fff;
text-align: center;
}
.email{
padding:8px;
margin: 5px;
width: 80%;
border-radius: 5px ;
border: 2px solid black;
}
.senha{
padding:8px;
margin: 5px;
width: 80%;
border-radius: 5px ;
border: 2px solid black;
}
.inputs{

background-color:#26cfa9;
margin-top: 60px;
border-radius: 5px;
}

