*{
padding: 0;
margin: 0;

}
body{
    background-color: grey;
}
.enviar{
    font-family: 'Kanit', sans-serif;
padding: 5px;
background-color: #26cfa9;
border-radius: 20px;

}
.recuperar{
    font-family: 'Kanit', sans-serif;
padding: 5px;
background-color: #26cfa9;
border-radius: 20px;

}
body{
    background-color:#82877b;
}
.Form{
    width: 100vw;
    height: 100vh;
    background-color:#82877b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
width: 300px;
height: 300px;
background: #fff;
}

>>>>>>> 3454d36e88f6871fccd0364625266bf9af1276a9
