*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#82877b;
}
.Form{
    width: 100vw;
    height: 100vh;
    background-color:#82877b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
width: 300px;
height: 300px;
align-items: center;
background: #fff;
text-align: center;
}
.email{
padding:8px;
margin: 5px;
width: 80%;
border-radius: 5px ;
border: 2px solid black;
}
.senha{
padding:8px;
margin: 5px;
width: 80%;
border-radius: 5px ;
border: 2px solid black;
}
.inputs{
background-color: red;
margin-top:60px;
border-radius: 5px;
}

